
@{
    ViewBag.Title = "Index";
}

<h2>Admin Tools</h2>

<a class="btn btn-info" href="@Url.Action("ManageUsers", "Admin")">ManageUsers</a>
<a class="btn btn-info" href="@Url.Action("CreateAdmin", "Admin")">CreateAdmin</a>
<a class="btn btn-info" href="@Url.Action("ShowReports", "Admin")">ShowReports</a>

